/*
Author: Ariana Antonio
Project 1
AVF 1311
 */
body {background-image: url(../img/iceburg.jpg);
    background-size: cover;
    background-repeat: repeat;
    color: white;
    font-family: verdana;
    max-width: 100%;
}
h1, h2 { text-align: center }
header {border: solid; border-bottom-color: white;}
header a {border: solid; border-bottom-color: white; border-radius: 20px;}
a {color: black;
    font-family: verdana;
    text-decoration: none;
    opacity: 0.9;
}
#navList li{list-style: none;
    outline: solid;
    outline-width: thin;
    font-family: verdana;
    font-size: 20pt;
    background-color: white;
    opacity: 0.4;

}
.icon {height:5%;
    width: 5%;
    opacity: 1;
    background-color: grey;
    
}
img {opacity: 1;
color: black;}
header a {color:white;}
li{list-style: none;}
#searchInput, #movieInput{
    background: white;  
	border-radius: 15px;
	cursor: pointer;
	display: block; 
	width: 40%;
    margin-left: -25px;
    opacity: 0.8;
}
p {font-size: 10pt;
    text-align: left;
}
h3{text-align: left !important;
    color: white !important;
}
#submit {
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background-color: white;
    color: black !important;
    border-radius:6px;
    width: 35%;
    opacity: 1;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    display: inline;
}

/*#instaData img {
  width: 100% !important;
  height: auto !important;
}*/
#instaData p {
    background-color: white;
    color: black;
    opacity: 0.6;
}
#movieSubmit {
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background-color: white;
    text-align: left;
    color: black !important;
    border-radius:6px;
    width: 35%;
    opacity: 1;
    font-size: 20px;
    cursor: pointer;
    border:none;
    display: inline;
}
@media only screen and (max-width: 480px) {
.picSize {height:25% ;width:25% ;}
#instaData div {column-count:1;}

}
@media only screen and (min-width: 481px) and (max-width: 768px) {
.picSize{height:40% ;width:40% ;}
p{width:40%;}
#instaData div {column-count:2;}
}
@media only screen and (orientation:landscape) {
body{background-color: red;}
#instaData div {column-count:3;}
}
#movieData li {
    background-color: white;
    opacity: .8;
    color: grey;
}